@use "./partials_scss/colors";
@use "./partials_scss/about-me";
@use "./partials_scss/aurorae";
@use "./partials_scss/chaos";
@use "./partials_scss/contact";
@use "./partials_scss/creativity";
@use "./partials_scss/crystalize";
@use "./partials_scss/interest";
@use "./partials_scss/polaris";
@use "./partials_scss/presentation";
@use "./partials_scss/projects";
@use "./partials_scss/skills";
@use "./partials_scss/thank-you";
@use "./partials_scss/page-aurorae";
@use "./partials_scss/font";


//-----------------------------------------------btn-----------------------------------------
#scrollToTopBtn {
    background-color: transparent;
    border: none;
}

.go_up {
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    z-index: 1000;
}

//---------------------------------------whole website------------------------------------
* {
    margin: 0;
}

body {
    background-color: var(--lightBeige);
}

//-----------------------------menu-------------------------------------------------------
.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: none;
    position: fixed;
    top: 30px;
    left: 30px;
    z-index: 1000;

    &--menu {
        text-decoration: none;
        display: flex;
        flex-direction: column;

        a {
            color: var(--hawaiianTan);
            text-decoration: none;
            font-family: kiwiMaru;
            font-size: 24px;
            line-height: 2.5em;

            &:hover {
                color: var(--pinkishBrown);
            }
        }
    }

    &--burger {
        display: none;

        cursor: pointer;
        flex-direction: column;
        gap: 4px;

        &--bar {
            width: 30px;
            height: 3px;
            background-color: var(--hawaiianTan);
            border-radius: 5px;
        }
    }
}

@media (max-width: 768px) {

    //--------------------------------------burger-------------------------------------------
    .nav {
        &--menu {
            display: none;
            flex-direction: column;
            gap: 15px;
            position: absolute;
            top: 60px;
            right: 20px;
            padding: 20px;
            border-radius: 8px;

            &.open {
                display: flex;
                top: 30px;
                left: 0px;

                a{
                    white-space: nowrap; 
                    line-height: 1.5em;
                    display: inline;
                    font-size: 12px;
                }

            }
        }

        &--burger {
            display: flex;
        }
    }
}