:root {
  --lightBeige: #FEF0E7;
  --sunshine: #F8C459;
  --blush: #FF9894;
  --pinkishBrown: #B2605D;
  --cloudyBlue: #AAC8CA;
  --greyAsparagus: #38585A;
  --hawaiianTan: #AB4D05;
}

@font-face {
  font-family: KiwiMaru;
  src: url(./media/font/Kiwi_Maru/KiwiMaru-Medium.ttf) format("TrueType");
}
.about {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: var(--blush);
}
.about--halfmoon {
  width: 10%;
  align-self: center;
  justify-self: center;
  top: 0;
}
.about--content {
  width: 70%;
  max-height: 80%;
  margin-inline: auto auto;
  margin-top: auto;
  margin-bottom: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  /*
  &--reference {
      width: 90%;
      max-height: 80%;
      margin-inline: auto auto;
      margin-top: auto;
      margin-bottom: auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 0.3fr 1fr 0.3fr 0.3fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px;


  }*/
}
.about--content p {
  font-family: KiwiMaru;
  font-size: 16px;
  color: var(--lightBeige);
}
.about--content--picture {
  align-self: center;
  justify-self: center;
  grid-area: 1/1/5/2;
}
.about--content--main {
  align-self: center;
  justify-self: flex-start;
  grid-area: 2/2/3/3;
}
.about--content--call {
  align-self: center;
  justify-self: flex-start;
  grid-area: 3/2/4/3;
}
.about--content--reference {
  grid-area: 4/2/5/3;
  display: flex;
  gap: 1em;
  text-decoration: none;
  align-self: center;
  justify-self: center;
}
.about--content--titre {
  align-self: center;
  justify-self: flex-start;
  grid-area: 1/2/2/3;
  font-family: KiwiMaru;
  font-size: 35px;
  color: var(--hawaiianTan);
}

@media only screen and (min-width: 475px) and (max-width: 768px) {
  .about--content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about--content p {
    font-size: 12px;
  }
  .about--content--picture {
    width: 90%;
    height: auto;
    margin-block: 5%;
  }
  .about--content--call {
    margin-block: 5%;
  }
  .about--content--reference {
    margin-top: 5%;
  }
  .about--content--reference img {
    width: 50%;
  }
  .about--content--titre {
    font-size: 18px;
  }
}
@media only screen and (max-width: 475px) {
  .about--content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about--content p {
    font-size: 10px;
  }
  .about--content--picture {
    width: 90%;
    height: auto;
    margin-block: 5%;
  }
  .about--content--call {
    margin-block: 5%;
  }
  .about--content--reference {
    margin-top: 5%;
  }
  .about--content--reference img {
    width: 50%;
  }
  .about--content--titre {
    font-size: 14px;
  }
}
.contact {
  position: relative;
  display: grid;
  width: 100%;
  height: 100vh;
  background-color: var(--cloudyBlue);
}
.contact .wave {
  position: absolute;
  top: 0;
  width: 100%;
}
.contact .contenue {
  display: grid;
  align-self: center;
  width: 70%;
  width: 50%;
  margin-inline: auto auto;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr 0.4fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 1%;
  grid-row-gap: 0;
}
.contact .contenue .text {
  grid-area: 1/1/3/3;
  width: 100%;
  justify-self: center;
}
.contact .contenue .linkedin {
  display: flex;
  grid-area: 1/3/2/4;
  align-self: flex-end;
  justify-self: center;
}
.contact .contenue .gmail {
  display: flex;
  grid-area: 2/3/3/4;
  justify-self: center;
  align-self: flex-end;
}

@media only screen and (min-width: 475px) and (max-width: 768px) {
  .contact {
    height: 80vh;
    display: flex;
  }
  .contact .contenue {
    width: 80%;
  }
  .contact .contenue .text {
    width: 85%;
    justify-self: flex-end;
  }
  .contact .contenue .linkedin {
    width: 75%;
    justify-self: flex-start;
    align-self: flex-start;
  }
  .contact .contenue .gmail {
    width: 85%;
    justify-self: flex-start;
  }
}
@media only screen and (max-width: 475px) {
  .contact {
    background-image: none;
    background-color: var(--cloudyBlue);
    height: 35vh;
    display: flex;
  }
  .contact .contenue {
    width: 90%;
  }
  .contact .contenue .text {
    width: 85%;
    justify-self: flex-end;
  }
  .contact .contenue .linkedin {
    width: 75%;
    justify-self: flex-start;
    align-self: flex-start;
  }
  .contact .contenue .gmail {
    width: 85%;
    justify-self: flex-start;
  }
}
.creativity {
  display: flex;
  width: 100%;
  height: 135vh;
  background-image: url(./media/img/background/creativy_bk.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.creativity .text {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
}

.interest {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: var(--blush);
}
.interest .title {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
}
.interest .wave {
  position: absolute;
  top: 0;
  width: 100%;
}

.presentation {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-items: center;
}
.presentation--content {
  margin-block: auto;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
}
.presentation--content--name {
  align-self: center;
  width: 70%;
}
.presentation--content--arrow {
  align-self: center;
  margin-top: 4%;
  width: 3%;
  animation: up_down 1.5s infinite ease-in-out;
}

@keyframes up_down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    mtransform: translateY(0);
  }
}
.projects {
  display: flex;
  flex-direction: column;
  background-color: var(--sunshine);
  position: relative;
  height: 130vh;
  width: 100%;
}
.projects .small {
  display: none;
}
.projects .wave {
  width: 100%;
}
.projects .title {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  align-self: flex-start;
  margin-block: 2% 4%;
}
.projects .swiper {
  display: flex;
  margin-block: auto;
  width: 100%;
  height: auto;
}
.projects .swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects .swiper-slide .plus {
  transform: scale(2);
  z-index: 5;
  position: absolute;
  display: inline-block;
  bottom: 10%;
  right: 20%;
}
.projects .swiper-slide .plus .eye_link {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-self: flex-end;
  align-self: flex-end;
  width: 55%;
}
.projects .swiper-pagination {
  font-family: kiwiMaru;
  font-size: 1em;
  color: var(--lightBeige);
}
.projects .swiper-button-prev {
  position: absolute;
  transform: scale(5);
  left: 15%;
}
.projects .swiper-button-next {
  position: absolute;
  transform: scale(5);
  right: 15%;
}
.projects .swiper-slide img {
  display: block;
  width: 70%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  border-radius: 30px;
}
.projects .swiper-slide:hover::before {
  content: "";
  position: absolute;
  margin-inline: auto auto;
  background-color: rgba(161, 122, 122, 0.568627451);
  z-index: 1;
  border-radius: 30px;
}
.projects .swiper {
  width: 100%;
  height: auto;
  margin: 20px auto;
}
.projects .swiper-slide .hover-text {
  height: 50%;
  position: absolute;
  top: 8%;
  left: 20%;
  color: white;
  opacity: 0;
  /* Start as invisible */
  transition: opacity 0.3s ease;
  z-index: 2;
  /* Above the overlay */
}
.projects .swiper-slide .hover-text h2 {
  font-family: kiwiMaru;
  font-size: 3em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 3%;
}
.projects .swiper-slide .hover-text h4 {
  margin: 0;
  font-size: 1em;
  text-align: left;
  font-family: kiwiMaru;
}
.projects .swiper-slide:hover .hover-text {
  opacity: 1;
}

@media only screen and (min-width: 475px) and (max-width: 768px) {
  .projects .swiper {
    display: none;
  }
  .projects .small {
    margin-inline: 25% auto;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    gap: 1em;
  }
  .projects .small .present {
    position: relative;
  }
  .projects .small .present .thumbnail {
    width: 70%;
    border-radius: 15px;
  }
  .projects .small .present .eye_link {
    z-index: 1;
    position: absolute;
    width: 10%;
    bottom: 10%;
    right: 35%;
  }
  .projects .small .present .text {
    height: 25%;
    position: absolute;
    top: 8%;
    left: 5%;
    color: white;
    transition: opacity 0.3s ease;
    z-index: 1000;
    /* Above the overlay */
  }
  .projects .small .present .text h2 {
    font-family: kiwiMaru;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 3%;
  }
  .projects .small .present .text h4 {
    margin: 0;
    font-size: 14px;
    text-align: left;
    font-family: kiwiMaru;
  }
}
@media only screen and (max-width: 475px) {
  .projects {
    height: 50vh;
  }
  .projects .swiper {
    display: none;
  }
  .projects .title {
    margin-top: 20%;
  }
  .projects .small {
    margin-top: 10%;
    margin-inline: 25% auto;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    gap: 1em;
  }
  .projects .small .present {
    position: relative;
  }
  .projects .small .present .thumbnail {
    width: 70%;
    border-radius: 10px;
  }
  .projects .small .present .eye_link {
    z-index: 1;
    position: absolute;
    width: 10%;
    bottom: 10%;
    right: 35%;
  }
  .projects .small .present .text {
    height: 25%;
    position: absolute;
    top: 8%;
    left: 5%;
    color: white;
    transition: opacity 0.3s ease;
    z-index: 1000;
    /* Above the overlay */
  }
  .projects .small .present .text h2 {
    font-family: kiwiMaru;
    font-size: 8px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 3%;
  }
  .projects .small .present .text h4 {
    margin: 0;
    font-size: 6px;
    text-align: left;
    font-family: kiwiMaru;
  }
}
.skills {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding-bottom: 15%;
}
.skills .content {
  margin-inline: auto;
  margin-block: 15% auto;
  display: flex;
  flex-direction: column;
  width: 70%;
}
.skills .wave {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
.skills .contenue {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 0.8fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-top: 5%;
}
.skills .title {
  grid-area: 1/2/2/3;
  width: 85%;
  margin-bottom: 5%;
}
.skills .ordi {
  grid-area: 2/1/3/2;
  width: 25%;
}
.skills .editing {
  grid-area: 2/2/3/3;
  width: 25%;
}
.skills .vector {
  grid-area: 2/3/3/4;
  width: 25%;
}
.skills .text_vector {
  grid-area: 3/3/4/4;
}
.skills .text_editing {
  grid-area: 3/2/4/3;
}
.skills .text_ordi {
  grid-area: 3/1/4/2;
}
.skills .coding {
  grid-area: 4/1/5/2;
  width: 25%;
}
.skills .modele {
  grid-area: 4/2/5/3;
  width: 25%;
}
.skills .animation {
  grid-area: 4/3/5/4;
  width: 25%;
}
.skills .text_animation {
  grid-area: 5/3/6/4;
}
.skills .text_modele {
  grid-area: 5/2/6/3;
}
.skills .text_coding {
  grid-area: 5/1/6/2;
}
.skills p {
  font-family: KiwiMaru;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 120%;
  color: var(--hawaiianTan);
}
.skills .application {
  margin-top: 5%;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
  margin-inline: auto auto;
}
.skills .application .ae {
  grid-area: 1/1/2/2;
  justify-self: center;
  width: 50%;
}
.skills .application .davinci {
  grid-area: 1/2/2/3;
  justify-self: center;
  width: 50%;
}
.skills .application .figma {
  grid-area: 1/3/2/4;
  justify-self: center;
  width: 50%;
}
.skills .application .illustrator {
  grid-area: 1/4/2/5;
  justify-self: center;
  width: 50%;
}
.skills .application .maya {
  grid-area: 1/5/2/6;
  justify-self: center;
  width: 50%;
}
.skills .application .photoshop {
  grid-area: 1/6/2/7;
  justify-self: center;
  width: 50%;
}
.skills .application .sass {
  grid-area: 1/7/2/8;
  justify-self: center;
  width: 50%;
}
.skills .application .unity {
  grid-area: 1/8/2/9;
  justify-self: center;
  width: 50%;
}
.skills .application .vs {
  grid-area: 1/9/2/10;
  justify-self: center;
  width: 50%;
}

@media only screen and (min-width: 475px) and (max-width: 768px) {
  .skills content {
    width: 70%;
  }
  .skills .contenue {
    margin-top: 15%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .skills .contenue .title {
    grid-area: 1/1/2/3;
  }
  .skills .contenue .ordi {
    grid-area: 2/1/3/2;
  }
  .skills .contenue .text_ordi {
    grid-area: 3/1/4/2;
  }
  .skills .contenue .editing {
    grid-area: 2/2/3/3;
  }
  .skills .contenue .text_editing {
    grid-area: 3/2/4/3;
  }
  .skills .contenue .vector {
    grid-area: 4/1/5/2;
  }
  .skills .contenue .text_vector {
    grid-area: 5/1/6/2;
  }
  .skills .contenue .coding {
    grid-area: 4/2/5/3;
  }
  .skills .contenue .text_coding {
    grid-area: 5/2/6/3;
  }
  .skills .contenue .modele {
    grid-area: 6/1/7/2;
  }
  .skills .contenue .text_modele {
    grid-area: 7/1/8/2;
  }
  .skills .contenue .animation {
    grid-area: 6/2/7/3;
  }
  .skills .contenue .text_animation {
    grid-area: 7/2/8/3;
  }
  .skills p {
    font-size: 16px;
  }
  .skills .application {
    margin-top: 5%;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    margin-inline: auto auto;
  }
  .skills .application img {
    width: 70%;
  }
  .skills .application .ae {
    grid-area: 1/1/2/2;
    justify-self: center;
    width: 70%;
  }
  .skills .application .davinci {
    grid-area: 1/2/2/3;
    justify-self: center;
    width: 70%;
  }
  .skills .application .figma {
    grid-area: 1/3/2/4;
    justify-self: center;
    width: 70%;
  }
  .skills .application .illustrator {
    grid-area: 1/4/2/5;
    justify-self: center;
    width: 70%;
  }
  .skills .application .maya {
    grid-area: 1/5/2/6;
    justify-self: center;
    width: 70%;
  }
  .skills .application .photoshop {
    grid-area: 1/6/2/7;
    justify-self: center;
    width: 70%;
  }
  .skills .application .sass {
    grid-area: 1/7/2/8;
    justify-self: center;
    width: 70%;
  }
  .skills .application .unity {
    grid-area: 1/8/2/9;
    justify-self: center;
    width: 70%;
  }
  .skills .application .vs {
    grid-area: 1/9/2/10;
    justify-self: center;
    width: 70%;
  }
}
@media only screen and (max-width: 475px) {
  .skills content {
    width: 70%;
  }
  .skills .contenue {
    margin-top: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .skills .contenue img {
    margin-block: 5%;
  }
  .skills p {
    font-size: 12px;
  }
  .skills .application {
    margin-top: 40%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  .skills .application img {
    width: 80%;
  }
  .skills .application .ae {
    grid-area: 1/1/2/2;
    width: 80%;
  }
  .skills .application .davinci {
    grid-area: 1/2/2/3;
    width: 80%;
  }
  .skills .application .figma {
    grid-area: 1/3/2/4;
    width: 80%;
  }
  .skills .application .illustrator {
    grid-area: 2/1/3/2;
    width: 80%;
  }
  .skills .application .maya {
    grid-area: 2/2/3/3;
    width: 80%;
  }
  .skills .application .photoshop {
    grid-area: 2/3/3/4;
    width: 80%;
  }
  .skills .application .sass {
    grid-area: 3/1/4/2;
    width: 80%;
  }
  .skills .application .unity {
    grid-area: 3/2/4/3;
    width: 80%;
  }
  .skills .application .vs {
    grid-area: 3/3/4/4;
    width: 80%;
  }
}
.thank_you {
  position: relative;
  display: grid;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
.thank_you .wave {
  position: absolute;
  top: 0;
  width: 100%;
}
.thank_you .contenue {
  margin-top: 10%;
  align-self: center;
  width: 80%;
  margin-inline: auto auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.thank_you .contenue .thank_you_text {
  grid-area: 2/1/3/2;
  justify-self: center;
  align-self: center;
  width: 60%;
}
.thank_you .contenue .work_text {
  grid-area: 1/1/2/2;
  width: 55%;
  justify-self: flex-start;
  align-self: flex-end;
  margin-left: 5%;
}
.thank_you .contenue .avatar {
  grid-area: 1/2/3/3;
  justify-self: center;
  align-self: flex-start;
  width: 70%;
}

body {
  margin: 0;
  padding: 0;
}

#chaos {
  background-color: var(--sunshine);
}

#unique {
  left: 35%;
}

#cristalize {
  height: 230vh;
}
#cristalize--defile {
  margin-top: 20%;
}

#polaris {
  height: 180vh;
}

.projet--intro {
  position: relative;
  background-color: var(--cloudyBlue);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  top: 0;
}
.projet--intro .projet_metrage {
  width: 10%;
  align-self: center;
  top: 0;
}
.projet--intro .projet_title {
  width: 30%;
  justify-self: center;
  margin: 7%;
}
.projet--intro .texte_description {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 0.4fr);
  grid-column-gap: 20px;
  grid-row-gap: 35px;
  width: 65%;
  justify-self: center;
}
.projet--intro .texte_description h3 {
  position: relative;
  font-family: KiwiMaru;
  font-size: 35px;
  font-weight: 400;
  color: var(--lightBeige);
}
.projet--intro .texte_description h3.space {
  left: 20%;
  white-space: nowrap;
}
.projet--intro .texte_description h3.space--ecole {
  left: 20%;
}
.projet--intro .texte_description:nth-child(1) {
  grid-area: 1/1/2/2;
}
.projet--intro .texte_description:nth-child(2) {
  grid-area: 1/2/2/3;
  justify-self: center;
}
.projet--intro .texte_description:nth-child(3) {
  grid-area: 1/3/2/4;
}
.projet--intro .texte_description:nth-child(4) {
  grid-area: 2/3/3/4;
  margin: 20%;
}
.projet--intro .texte_description:nth-child(5) {
  grid-area: 2/2/3/3;
  margin: 20%;
  justify-self: center;
}
.projet--intro .texte_description:nth-child(6) {
  grid-area: 2/1/3/2;
  left: 70%;
  background-color: bisque;
}
.projet--intro .app_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.2fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 30%;
  height: auto;
  margin-inline: auto auto;
  margin-top: 7%;
  z-index: 1;
}
.projet--intro .app_grid img {
  width: 30%;
  justify-self: center;
}
.projet--intro .app_grid img.davinci_projet {
  grid-area: 1/1/2/2;
}
.projet--intro .app_grid img.reaper_projet {
  grid-area: 1/2/2/3;
}
.projet--intro .app_grid img.maya_projet {
  justify-self: flex-end;
  margin-left: 5%;
}
.projet--present {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.projet--present .down_wave {
  position: absolute;
  width: 100%;
  top: 0%;
  margin-bottom: 20%;
}
.projet--present .mp4 {
  border-radius: 15px;
  min-width: 70%;
  min-height: 60%;
  margin-top: 20%;
}
.projet--present--defile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projet--present--defile img {
  margin-bottom: 5%;
  width: 70%;
  border-radius: 15px;
}
.projet--present--defile .mp4-polaris {
  margin-bottom: 5%;
  width: 70%;
  height: 300px;
  border-radius: 15px;
}
.projet--synopsis {
  width: 100%;
  height: 100vh;
  margin-top: 10%;
  background-color: var(--blush);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projet--synopsis--half_moon {
  width: 10%;
  margin-top: -4.5%;
}
.projet--synopsis--titre {
  width: 27%;
  margin-block: 10% 6%;
}
.projet--synopsis--description {
  color: var(--hawaiianTan);
  font-size: 24px;
  font-family: KiwiMaru;
  width: 65%;
  margin-bottom: 3%;
  text-align: justify;
}
.projet--synopsis--lien {
  color: var(--lightBeige);
  font-size: 50px;
  font-weight: 700;
  font-family: KiwiMaru;
  width: 65%;
}
.projet--synopsis--lien:hover {
  color: var(--hawaiianTan);
}
.projet--role {
  width: 100%;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 25%;
  position: relative;
}
.projet--role--blue-wave {
  position: absolute;
  /* Absolute position within the section */
  bottom: 0;
  /* Places the wave at the bottom of the section */
  left: 0;
  width: 100%;
  /* Ensures wave stretches across the full width */
  z-index: -1;
}
.projet--role--yellow-wave {
  width: 100%;
}
.projet--role--titre {
  width: 27%;
  margin-block: 10% 5%;
}
.projet--role--texte-descriptif {
  color: var(--hawaiianTan);
  font-size: 18px;
  font-family: KiwiMaru;
  width: 65%;
  margin-block: 3%;
  text-align: justify;
}
.projet--role--page-switch {
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr 0.2fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 80%;
  margin-block: 5% 0;
}
.projet--role--page-switch p {
  color: var(--hawaiianTan);
  font-size: 24px;
  font-family: KiwiMaru;
}
.projet--role--page-switch p.projet--role--texte-left {
  align-self: center;
  text-align: left;
}
.projet--role--page-switch p.projet--role--texte-right {
  align-self: center;
  text-align: right;
}
.projet--role--page-switch img.projet--role--arrow-left {
  height: 70%;
  justify-self: flex-end;
  align-self: center;
}
.projet--role--page-switch img.projet--role--arrow-right {
  height: 70%;
  justify-self: flex-end;
  align-self: center;
}
.projet--role--page-switch--arrow-left {
  grid-area: 1/1/2/2;
}
.projet--role--page-switch--arrow-left--texte-left {
  grid-area: 1/2/2/3;
}
.projet--role--page-switch--arrow-left--texte-right {
  grid-area: 1/3/2/4;
}
.projet--role--page-switch--arrow-left--arrow-right {
  grid-area: 1/4/2/5;
}
.projet--connect {
  position: relative;
  padding-bottom: 10vh;
  width: 100%;
  height: 80vh;
  background-color: var(--cloudyBlue);
  align-content: center;
}
.projet--connect--grid {
  display: grid;
  grid-template-columns: 1fr 0.4fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 0px;
  width: 65%;
  margin-inline: auto;
  margin-top: 15%;
}
.projet--connect .part1 {
  white-space: nowrap;
  justify-self: center;
  grid-area: 1/1/2/2;
}
.projet--connect .part2 {
  white-space: nowrap;
  justify-self: center;
  grid-area: 2/1/3/2;
}
.projet--connect--title {
  color: var(--lightBeige);
  font-size: 65px;
  font-family: KiwiMaru;
  width: 55%;
}
.projet--connect--icon {
  grid-area: 1/2/3/3;
  width: 8vw;
  justify-self: flex-start;
  margin-top: -15%;
  margin-left: -25%;
}
.projet--connect--application {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-block: 4% 8%;
}
.projet--connect--application--linkedin {
  width: 80%;
}
.projet--connect--application--email {
  width: 70%;
}

@media only screen and (min-width: 475px) and (max-width: 768px) {
  .projet--intro .projet_metrage {
    width: 15%;
  }
  .projet--intro .projet_title {
    margin-block: 45% 15%;
    width: 50%;
  }
  .projet--intro .texte_description {
    margin-inline: auto auto;
  }
  .projet--intro .texte_description h3 {
    font-size: 12px;
  }
  .projet--intro .texte_description h3.space--ecole {
    left: 15%;
  }
  .projet--intro .app_grid {
    margin-top: 10%;
    -moz-column-gap: 5%;
         column-gap: 5%;
  }
  .projet--intro .app_grid img {
    width: 70%;
  }
  .projet--present .mp4 {
    min-height: 20%;
    min-width: 55%;
  }
  .projet--synopsis--description {
    font-size: 18px;
  }
  .projet--synopsis--lien {
    margin-top: 5%;
    font-size: 20px;
  }
  .projet--synopsis--titre {
    width: 55%;
    margin-block: 10% 10%;
  }
  .projet--role {
    height: 100vh;
  }
  .projet--role--blue-wave {
    margin-top: -10%;
  }
  .projet--role--titre {
    width: 55%;
    margin-top: 10%;
  }
  .projet--role--texte-descriptif {
    margin-top: 10%;
    font-size: 24px;
  }
  .projet--role--page-switch {
    display: grid;
    grid-template-columns: 0.1fr 1.5fr 1.5fr 0.1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 85%;
    margin-block: 10% 25%;
  }
  .projet--role--page-switch p {
    font-weight: 700;
    color: var(--hawaiianTan);
    font-size: 18px;
    font-family: KiwiMaru;
  }
  .projet--role--page-switch img.projet--role--arrow-left {
    height: 20%;
  }
  .projet--role--page-switch img.projet--role--arrow-right {
    height: 20%;
  }
  .projet--connect--grid {
    margin-inline: 20% auto;
    -moz-column-gap: 3%;
         column-gap: 3%;
  }
  .projet--connect .part1 {
    justify-self: flex-start;
  }
  .projet--connect .part2 {
    justify-self: flex-start;
  }
  .projet--connect h2 {
    font-size: 35px;
  }
}
@media only screen and (max-width: 475px) {
  #unique {
    left: 0;
  }
  .projet--intro .projet_metrage {
    width: 20%;
  }
  .projet--intro .projet_title {
    margin-block: 55% 15%;
    width: 45%;
  }
  .projet--intro .texte_description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    -moz-column-gap: 0;
         column-gap: 0;
    width: 60%;
    margin-bottom: 15%;
  }
  .projet--intro .texte_description h3 {
    font-size: 20px;
  }
  .projet--intro .texte_description h3.space {
    left: 0;
  }
  .projet--intro .texte_description h3.space--ecole {
    margin: 0;
  }
  .projet--intro .app_grid {
    -moz-column-gap: 45%;
         column-gap: 45%;
  }
  .projet--intro .app_grid img {
    width: 150%;
  }
  .projet--present {
    height: 50vh;
  }
  .projet--present iframe.mp4 {
    max-width: 55%;
    min-height: 20%;
  }
  .projet--present .mp4-polaris {
    height: 150px;
  }
  .projet--synopsis--half_moon {
    width: 15%;
    margin-top: -7%;
  }
  .projet--synopsis--titre {
    margin-block: 35% 15%;
    width: 50%;
  }
  .projet--synopsis--description {
    font-size: 10px;
    margin-bottom: 15%;
  }
  .projet--synopsis--lien {
    font-size: 14px;
  }
  .projet--role {
    height: 80vh;
  }
  .projet--role--page-switch img.projet--role--arrow-left {
    height: 20%;
  }
  .projet--role--page-switch img.projet--role--arrow-right {
    height: 20%;
  }
  .projet--role--page-switch p {
    font-size: 8px;
  }
  .projet--role--titre {
    width: 50%;
  }
  .projet--role--texte-descriptif {
    font-size: 13px;
  }
  .projet--connect .part1 {
    justify-self: flex-start;
  }
  .projet--connect .part2 {
    justify-self: flex-start;
  }
  .projet--connect h2 {
    font-size: 16px;
  }
  .projet--connect--application--linkedin {
    width: 50%;
  }
  .projet--connect--application--email {
    width: 40%;
  }
}
#scrollToTopBtn {
  background-color: transparent;
  border: none;
}

.go_up {
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  z-index: 1000;
}

* {
  margin: 0;
}

body {
  background-color: var(--lightBeige);
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: none;
  position: fixed;
  top: 30px;
  left: 30px;
  z-index: 1000;
}
.nav--menu {
  text-decoration: none;
  display: flex;
  flex-direction: column;
}
.nav--menu a {
  color: var(--hawaiianTan);
  text-decoration: none;
  font-family: kiwiMaru;
  font-size: 24px;
  line-height: 2.5em;
}
.nav--menu a:hover {
  color: var(--pinkishBrown);
}
.nav--burger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 4px;
}
.nav--burger--bar {
  width: 30px;
  height: 3px;
  background-color: var(--hawaiianTan);
  border-radius: 5px;
}

@media (max-width: 768px) {
  .nav--menu {
    display: none;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    top: 60px;
    right: 20px;
    padding: 20px;
    border-radius: 8px;
  }
  .nav--menu.open {
    display: flex;
    top: 30px;
    left: 0px;
  }
  .nav--menu.open a {
    white-space: nowrap;
    line-height: 1.5em;
    display: inline;
    font-size: 12px;
  }
  .nav--burger {
    display: flex;
  }
}/*# sourceMappingURL=style.css.map */