.interest {
    position: relative;
    display: flex;
    width: 100%;
    height: 120vh;
    background-color: var(--blush);


    .title {
        margin-top: 10%;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        align-self: center;
        
    }

    .wave {
        position: absolute;
        top: 0;
        width: 100%;
    }
}

@media only screen and (min-width: 475px) and (max-width: 768px){
    .interest{
        height: 40vh;
    }
}

@media only screen and (max-width: 475px){
    .interest{
        height: 20vh;
    }
}