.interest {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: var(--blush);


    .title {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        align-self: center;
    }

    .wave {
        position: absolute;
        top: 0;
        width: 100%;
    }
}
