@use "colors";
@use "font";

.presentation {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;

    &--content {
        margin-block: auto;
        margin-inline: auto;
        display: flex;
        flex-direction: column;

        &--name {
            align-self: center;
            width: 70%;
        }

        &--arrow {
            align-self: center;
            margin-top: 4%;
            width: 3%;

            animation: up_down 1.5s infinite ease-in-out;

        }

    }

}



@keyframes up_down {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(50%);
    }

    100% {
        mtransform: translateY(0);
    }
}

@media only screen and (min-width: 475px) and (max-width: 768px){
    .presentation{
        height: 40vh;
    }
}

@media only screen and (max-width: 475px){
    .presentation{
        height: 20vh;
    }
}