.projects {
    display: flex;
    flex-direction: column;
    //none: #FF9894 2px solid;
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url(./media/img/background/project.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .small {
        display: none;
    }

    .title {
        width: 30%;
        margin-left: auto;
        margin-right: auto;
        align-self: flex-start;
        margin-block: 2% 4%;
    }

    .swiper {
        margin-block: auto;
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        .plus {
            z-index: 5;
            position: absolute;
            display: inline-block;
            bottom: 5%;
            right: 5%;

            .eye_link {
                position: relative;
                display: flex;
                flex-direction: row;
                justify-self: flex-end;
                align-self: flex-end;
                width: 55%;
                //bottom: 5%;

            }
        }


    }

    .swiper-pagination {
        font-family: kiwiMaru;
        font-size: 1em;
        color: var(--lightBeige);
    }

    .swiper-button {
        &-prev {
            transform: scale(3);
            left: 10%;
        }

        &-next {
            transform: scale(3);
            right: 10%;
        }
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 35px;
    }

    .swiper-slide:hover::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #a17a7a91;
        z-index: 1;
        border-radius: 35px;
    }

    .swiper {
        width: 100%;
        height: auto;
        margin: 20px auto;
    }

    .swiper-slide .hover-text {
        height: 50%;
        position: absolute;
        top: 5%;
        left: 5%;
        color: white;
        opacity: 0;
        /* Start as invisible */
        transition: opacity 0.3s ease;
        z-index: 2;

        /* Above the overlay */
        h2 {
            font-family: kiwiMaru;
            font-size: 3em;
            text-transform: uppercase;
            margin-top: 0;
            margin-bottom: 3%;
        }

        h4 {
            margin: 0;
            font-size: 1em;
            text-align: left;
            font-family: kiwiMaru;
        }

    }


    .swiper-slide:hover .hover-text {
        opacity: 1;
    }


}