.skills {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 125vh;
    padding-bottom: 15%;

    .content {
        margin-inline: auto;
        margin-block: 15% auto;
        display: flex;
        flex-direction: column;
        width: 70%;
    }

    .wave {
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
    }

    .contenue {


        display: grid;
        justify-items: center;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr 0.8fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin-top: 5%;
    }

    .title {
        grid-area: 1 / 2 / 2 / 3;
        width: 85%;
        margin-bottom: 5%;
    }

    .ordi {
        grid-area: 2 / 1 / 3 / 2;
        width: 25%;
    }

    .editing {
        grid-area: 2 / 2 / 3 / 3;
        width: 25%;
    }

    .vector {
        grid-area: 2 / 3 / 3 / 4;
        width: 25%;
    }

    .text_vector {
        grid-area: 3 / 3 / 4 / 4;

    }

    .text_editing {
        grid-area: 3 / 2 / 4 / 3;
    }

    .text_ordi {
        grid-area: 3 / 1 / 4 / 2;
    }

    .coding {
        grid-area: 4 / 1 / 5 / 2;
        width: 25%;
    }

    .modele {
        grid-area: 4 / 2 / 5 / 3;
        width: 25%;
    }

    .animation {
        grid-area: 4 / 3 / 5 / 4;
        width: 25%;
    }

    .text_animation {
        grid-area: 5 / 3 / 6 / 4;
    }

    .text_modele {
        grid-area: 5 / 2 / 6 / 3;
    }

    .text_coding {
        grid-area: 5 / 1 / 6 / 2;
    }

    p {
        font-family: KiwiMaru;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 120%;
        color: var(--hawaiianTan);
    }

    .application {
        margin-top: 15%;

        width: 80%;
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0;
        grid-row-gap: 0;
        margin-inline: auto auto;



        .ae {
            grid-area: 1 / 1 / 2 / 2;
            justify-self: center;
            width: 50%;
        }

        .davinci {
            grid-area: 1 / 2 / 2 / 3;
            justify-self: center;
            width: 50%;
        }

        .figma {
            grid-area: 1 / 3 / 2 / 4;
            justify-self: center;
            width: 50%;
        }

        .illustrator {
            grid-area: 1 / 4 / 2 / 5;
            justify-self: center;
            width: 50%;
        }

        .maya {
            grid-area: 1 / 5 / 2 / 6;
            justify-self: center;
            width: 50%;
        }

        .photoshop {
            grid-area: 1 / 6 / 2 / 7;
            justify-self: center;
            width: 50%;
        }

        .sass {
            grid-area: 1 / 7 / 2 / 8;
            justify-self: center;
            width: 50%;
        }

        .unity {
            grid-area: 1 / 8 / 2 / 9;
            justify-self: center;
            width: 50%;
        }

        .vs {
            grid-area: 1 / 9 / 2 / 10;
            justify-self: center;
            width: 50%;
        }
    }
}

@media only screen and (min-width: 585px) and (max-width: 768px) {
    .skills {
        height: 135vh;

        content {
            width: 70%;
        }

        .contenue {
            margin-block: 25%;


            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(7, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;


            .title {
                grid-area: 1 / 1 / 2 / 3;
            }

            .ordi {
                grid-area: 2 / 1 / 3 / 2;
            }

            .text_ordi {
                grid-area: 3 / 1 / 4 / 2;
            }

            .editing {
                grid-area: 2 / 2 / 3 / 3;
            }

            .text_editing {
                grid-area: 3 / 2 / 4 / 3;
            }

            .vector {
                grid-area: 4 / 1 / 5 / 2;
            }

            .text_vector {
                grid-area: 5 / 1 / 6 / 2;
            }

            .coding {
                grid-area: 4 / 2 / 5 / 3;
            }

            .text_coding {
                grid-area: 5 / 2 / 6 / 3;
            }

            .modele {
                grid-area: 6 / 1 / 7 / 2;
            }

            .text_modele {
                grid-area: 7 / 1 / 8 / 2;
            }

            .animation {
                grid-area: 6 / 2 / 7 / 3;
            }

            .text_animation {
                grid-area: 7 / 2 / 8 / 3;
            }

        }

        p {

            font-size: 16px;

        }

        .application {
            margin-top: 5%;

            width: 80%;
            display: grid;
            grid-template-columns: repeat(9, 1fr);
            grid-template-rows: 1fr;
            grid-column-gap: 0;
            grid-row-gap: 0;
            margin-inline: auto auto;

            img {
                width: 70%;
            }



            .ae {
                grid-area: 1 / 1 / 2 / 2;
                justify-self: center;
                width: 70%;
            }

            .davinci {
                grid-area: 1 / 2 / 2 / 3;
                justify-self: center;
                width: 70%;
            }

            .figma {
                grid-area: 1 / 3 / 2 / 4;
                justify-self: center;
                width: 70%;
            }

            .illustrator {
                grid-area: 1 / 4 / 2 / 5;
                justify-self: center;
                width: 70%;
            }

            .maya {
                grid-area: 1 / 5 / 2 / 6;
                justify-self: center;
                width: 70%;
            }

            .photoshop {
                grid-area: 1 / 6 / 2 / 7;
                justify-self: center;
                width: 70%;
            }

            .sass {
                grid-area: 1 / 7 / 2 / 8;
                justify-self: center;
                width: 70%;
            }

            .unity {
                grid-area: 1 / 8 / 2 / 9;
                justify-self: center;
                width: 70%;
            }

            .vs {
                grid-area: 1 / 9 / 2 / 10;
                justify-self: center;
                width: 70%;
            }
        }
    }
}

@media only screen and (min-width: 475px) and (max-width: 585px) {
    .skills {
        height: 105vh;

        content {
            width: 70%;
        }

        .contenue {
            margin-block: 25%;


            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(7, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;


            .title {
                grid-area: 1 / 1 / 2 / 3;
            }

            .ordi {
                grid-area: 2 / 1 / 3 / 2;
            }

            .text_ordi {
                grid-area: 3 / 1 / 4 / 2;
            }

            .editing {
                grid-area: 2 / 2 / 3 / 3;
            }

            .text_editing {
                grid-area: 3 / 2 / 4 / 3;
            }

            .vector {
                grid-area: 4 / 1 / 5 / 2;
            }

            .text_vector {
                grid-area: 5 / 1 / 6 / 2;
            }

            .coding {
                grid-area: 4 / 2 / 5 / 3;
            }

            .text_coding {
                grid-area: 5 / 2 / 6 / 3;
            }

            .modele {
                grid-area: 6 / 1 / 7 / 2;
            }

            .text_modele {
                grid-area: 7 / 1 / 8 / 2;
            }

            .animation {
                grid-area: 6 / 2 / 7 / 3;
            }

            .text_animation {
                grid-area: 7 / 2 / 8 / 3;
            }

        }

        p {

            font-size: 16px;

        }

        .application {
            margin-top: 5%;

            width: 80%;
            display: grid;
            grid-template-columns: repeat(9, 1fr);
            grid-template-rows: 1fr;
            grid-column-gap: 0;
            grid-row-gap: 0;
            margin-inline: auto auto;

            img {
                width: 70%;
            }



            .ae {
                grid-area: 1 / 1 / 2 / 2;
                justify-self: center;
                width: 70%;
            }

            .davinci {
                grid-area: 1 / 2 / 2 / 3;
                justify-self: center;
                width: 70%;
            }

            .figma {
                grid-area: 1 / 3 / 2 / 4;
                justify-self: center;
                width: 70%;
            }

            .illustrator {
                grid-area: 1 / 4 / 2 / 5;
                justify-self: center;
                width: 70%;
            }

            .maya {
                grid-area: 1 / 5 / 2 / 6;
                justify-self: center;
                width: 70%;
            }

            .photoshop {
                grid-area: 1 / 6 / 2 / 7;
                justify-self: center;
                width: 70%;
            }

            .sass {
                grid-area: 1 / 7 / 2 / 8;
                justify-self: center;
                width: 70%;
            }

            .unity {
                grid-area: 1 / 8 / 2 / 9;
                justify-self: center;
                width: 70%;
            }

            .vs {
                grid-area: 1 / 9 / 2 / 10;
                justify-self: center;
                width: 70%;
            }
        }
    }
}

@media only screen and (min-width: 275px) and (max-width: 475px) {
    .skills {
        height: 170vh;

        content {
            width: 70%;
        }

        .contenue {
            margin-top: 35%;


            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                margin-block: 5%;
            }

        }

        p {

            font-size: 12px;

        }



        .application {
            margin-top: 40%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-column-gap: 20px;
            grid-row-gap: 20px;

            img {
                width: 80%;
            }


            .ae {
                grid-area: 1 / 1 / 2 / 2;
                width: 80%;
            }

            .davinci {
                grid-area: 1 / 2 / 2 / 3;
                width: 80%;
            }

            .figma {
                grid-area: 1 / 3 / 2 / 4;
                width: 80%;
            }

            .illustrator {
                grid-area: 2 / 1 / 3 / 2;
                width: 80%;
            }

            .maya {
                grid-area: 2 / 2 / 3 / 3;
                width: 80%;
            }

            .photoshop {
                grid-area: 2 / 3 / 3 / 4;
                width: 80%;
            }

            .sass {
                grid-area: 3 / 1 / 4 / 2;
                width: 80%;
            }

            .unity {
                grid-area: 3 / 2 / 4 / 3;
                width: 80%;
            }

            .vs {
                grid-area: 3 / 3 / 4 / 4;
                width: 80%;
            }
        }

    }
}

@media only screen and (max-width: 275px) {
    .skills {
        height: 100vh;

        content {
            width: 70%;
        }

        .contenue {
            margin-top: 35%;


            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                margin-block: 5%;
            }

        }

        p {

            font-size: 12px;

        }



        .application {
            margin-top: 40%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-column-gap: 20px;
            grid-row-gap: 20px;

            img {
                width: 80%;
            }


            .ae {
                grid-area: 1 / 1 / 2 / 2;
                width: 80%;
            }

            .davinci {
                grid-area: 1 / 2 / 2 / 3;
                width: 80%;
            }

            .figma {
                grid-area: 1 / 3 / 2 / 4;
                width: 80%;
            }

            .illustrator {
                grid-area: 2 / 1 / 3 / 2;
                width: 80%;
            }

            .maya {
                grid-area: 2 / 2 / 3 / 3;
                width: 80%;
            }

            .photoshop {
                grid-area: 2 / 3 / 3 / 4;
                width: 80%;
            }

            .sass {
                grid-area: 3 / 1 / 4 / 2;
                width: 80%;
            }

            .unity {
                grid-area: 3 / 2 / 4 / 3;
                width: 80%;
            }

            .vs {
                grid-area: 3 / 3 / 4 / 4;
                width: 80%;
            }
        }
    }
}